/* * {
background-color:#F1F1F1F1;
} */

.loading__container--outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.loading__container--inner {
    position: relative;
    width: 100px;
}

.loading__title {
    text-align: center;
    animation-name: slideDown;
    animation-duration: 1500ms;
}

.loading__boy {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
    height: 150px;
    width: 100px;
    position: relative;
}



@keyframes pop {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes slideDown {
    0% {transform:translateY(-350%);}
    85% {transform:translateY(0%);}
    100% { transform: scale(1.1);}
}
