/* * {
background-color:#F1F1F1F1;
} */

.loading__boy {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease; 
    height: 150px;
    width: 100px;
    position: relative;
}

/* .loading__popcornTub{
    height: 30px;
    width: 30px;
    animation-name: pop;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    transform-origin: 100px 10px
} */

.loading {
    position: relative;
    width: 100px;
}


@keyframes pop {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(180deg);
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}